# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
client/node_modules
client//.pnp
client/.pnp.js

# testing
client//coverage

# production
client//build

# misc
.DS_Store
client/.DS_Store
client/.env.local
client/.env.development.local
client/.env.test.local
client/.env.production.local

client/npm-debug.log*
client/yarn-debug.log*
client/yarn-error.log*

/api/movey/movey/*.swp
/api/movey/movey/*.*~
/api/movey/movey/project.lock.json
/api/movey/movey/.DS_Store
/api/movey/movey/*.pyc
/api/movey/movey/.vscode
/api/movey/movey/*.suo
/api/movey/movey/*.user
/api/movey/movey/*.userosscache
/api/movey/movey/*.sln.docstates
/api/movey/movey/[Dd]ebug/
/api/movey/movey/[Dd]ebugPublic/
/api/movey/movey/[Rr]elease/
/api/movey/movey/[Rr]eleases/
/api/movey/movey/x64/
/api/movey/movey/x86/
/api/movey/movey/build/
/api/movey/movey/bld/
/api/movey/movey/[Bb]in/
/api/movey/movey/[Oo]bj/
/api/movey/movey/msbuild.log
/api/movey/movey/msbuild.err
/api/movey/movey/msbuild.wrn
/api/movey/movey/.vs/